<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Nueva Foto</span>
                    <form class="mt-3">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Nombre de la foto"
                          [(ngModel)] = "formName.name"> <br>
                          <webcam [height]="400" 
                                  [width]="400" 
                                  [trigger]="triggerObservable"
                                  (imageCapture)="handleImage($event)">
                          </webcam>
                            <button class="actionBtn" class="btn btn-primary" (click)="triggerSnapshot();">
                                Tomar Foto</button> <br>
                            <div class="snapshot" *ngIf="webcam">
                              <h2>Aquí está su imagen!</h2>
                              <img [src]="webcam.imageAsDataUrl"/>
                            </div>
                        <div class="mb-3">
                            <button class="btn btn-success" type="submit" (click)="uploadImage();">Guardar</button>
                            <button class="btn btn-secondary float-end" routerLink="/photoList">Cancelar</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>