<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de Fotos</span>
          <button class="btn btn-success float-end" routerLink="/photoCreate">Nueva foto</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Foto</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let photo of photos">
                <td>{{ photo.name }}</td>
                <td>
                  <div class="images">
                    <img [src]="image" *ngFor="let image of images" width="200">
                  </div>
                </td>
                <td>
                  <button class="btn btn-light" type="submit" (click)="onSubmitUpdatePhoto(photo)">
                    <i class="fa-solid fa-pen-to-square text-info"></i>
                  </button>
                  <button class="btn btn-light" type="submit" (click)="onClickDeletePhoto(photo)">
                    <i class="fa-solid fa-trash text-danger"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>